<% include ../partials/head %>
<!DOCTYPE html>
<% include ../partials/head %>
<section name=”jumbotron” > <div class=”jumbotron text-center”> <h1>CodePrep.io Presents</h1> <p>Using EJS templating with Node.js</p> </div> </section>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../partials/nav %>
    <% include ../partials/3columns %>
    <% include ../partials/footer %>
    <% include ../partials/scripts %>
  </body>
</html>
